@import url('https://fonts.googleapis.com/css2?family=Caudex&display=swap');

@font-face {
  font-family: 'Perigord';
  src: url('https://hakkon-bot.github.io/CSS-Duralas/Perigord.woff2') format('woff2'),
       url('https://hakkon-bot.github.io/CSS-Duralas/Perigord.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: black;
  color: #e9d8b7;
  font-family: 'Caudex', serif;
}

.BDY {
  margin: auto;
  width: 500px;
  text-align: center;
  line-height: 16px;
}

.topBDY {
  width: 500px;
  height: 10px;
}

.splashBDY {
  position: absolute;
  z-index: 0;
  margin-left: -65px;
  margin-top: 80px;
  width: 363px;
  height: 259px;
  background: url(https://i.postimg.cc/T385Dbrs/img-BDY-Photoroom.png);
}

.ftBDY {
  position: absolute;
  z-index: 2;
  margin-top: 120px;
  margin-left: 40px;
  width: 75px;
  height: 75px;
  border-radius: 75px;
}

.ftBDY img {
  width: 75px;
  height: 75px;
  border-radius: 75px;
}

.ftBDY div {
  position: absolute;
  margin-top: -75px;
  width: 75px;
  height: 62px;
  padding-top: 13px;
  border-radius: 75px;
  font-size: 10px;
  line-height: 14px;
  background: rgba(0, 0, 0, 0.4);
  color: white;
}

.tleBDY {
  font-family: 'Perigord', serif;
  margin: 80px auto 15px auto;
  padding: 15px;
  font-size: 22px;
  text-transform: uppercase;
  background-color: #1a0000;
  color: #e9d8b7;
  border: 1px solid #bca77a;
  border-radius: 6px;
  box-shadow: inset 0 0 3px #000, 0 0 8px rgba(0, 0, 0, 0.5);
  text-shadow: 1px 1px 1px #000;
  width: fit-content;
}

.msgBDY {
  font-family: 'Caudex', serif;
  margin: auto;
  width: 460px;
  min-height: 205px;
  padding: 20px;
  border-radius: 15px;
  border-left: 10px solid #660000;
  border-right: 10px solid #660000;
  background-image: url('https://www.transparenttextures.com/patterns/dark-leather.png');
  background-color: rgba(255,255,255,0.03);
  background-size: cover;
  background-blend-mode: lighten;
  box-shadow: inset 0 0 3px rgba(0,0,0,0.2);
  text-align: justify;
  font-size: 14px;
}

.msgBDY p:first-letter {
  float: left;
  font-size: 24px;
  line-height: 1;
  padding-right: 5px;
  font-family: 'Perigord', serif;
  color: #660000;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

